@font-face {
	font-family: "JetBrainsMono";
	src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* :root {
	--primary-bg-color: rgb(0, 0, 0);
	--lighter-bg-color: rgb(36, 36, 40);
	--between-dark-light: rgb(84, 84, 84);
	--primary-highlight-color: #7984ff;
	--secondary-highlight-color: #d1d9ff;
	--primary-text-color: rgb(255, 255, 255);
	--darker-text-color: rgb(221, 221, 226);
} */

:root {
	--body-bg: linear-gradient(rgb(255, 255, 255), rgb(36, 36, 36));
	/* --primary-bg-color: rgb(255, 255, 255); */
	--primary-bg-color: #ededed;
	--secondary-bg-color: rgb(201, 205, 240);
	--lighter-bg-color: rgb(220, 220, 220);
	--between-dark-light: rgb(183, 183, 183);

	--primary-highlight-color: #676cfd;
	--secondary-highlight-color: #c6cdff;
	/* --primary-highlight-color: #ff4c31;
	--secondary-highlight-color: #ffe1dc; */

	--primary-text-color: rgb(23, 23, 23);
	/* --primary-text-color: rgb(44, 14, 176); */
	--darker-text-color: rgb(10, 20, 45);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	touch-action: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100dvh;
	font-family: "JetBrainsMono";
	background-color: var(--primary-bg-color);
}

body.dark {
	background-color: black;
}

#start-container {
	width: 100vw;
	height: 100vh;
	background-color: var(--primary-bg-color);
	position: absolute;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#start {
	font-size: min(1.6rem, calc(94dvw / 16));
	padding: 0 2dvw;
}

#rätsel-container {
	border: solid var(--primary-text-color) 1.8px;
	border-radius: 2px;
	margin-top: 1dvh;
	display: grid;
	grid-template-columns: repeat(10, min(60px, calc(94vw / 10)));

	background: var(--primary-text-color);
	/* background-image: url(../img/bg-paper-gross.webp);
	background-size: 130%; */
	/* box-shadow: 0px 23dvh 80px 70px var(--primary-bg-color); */
}

.box {
	color: var(--primary-text-color);
	position: relative;
	aspect-ratio: 1 / 1;
	max-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.8px solid var(--primary-text-color);
	font-size: min(1.6rem, calc(94dvw / 16));
	font-weight: 600;
	cursor: pointer;
	background: var(--primary-bg-color);
	font-family: "JetBrainsMono";
	webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* old Edge/IE */
	user-select: none; /* modern browsers */
	transition: all 0.4s ease;
}

.box.black {
	box-sizing: content-box;
	/* background: var(--primary-text-color); */
	background-color: transparent;
	cursor: default;
	border: none;
	pointer-events: none;
}
.word {
	background: var(--secondary-highlight-color);
}

.box.active {
	background: var(--primary-highlight-color);
	color: white;
}

.box.active::after {
	content: "";
	position: absolute;
	width: 2.2px;
	height: 55%;
	background: white;
	border: none;
	left: 22%;
	top: 20%;

	animation: blink 1s step-end infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

button,
details {
	font-family: "JetBrainsMono";

	border: none;
	color: var(--darker-text-color);
}

button,
details {
	background-color: var(--primary-text-color);
	border: 3px solid var(--primary-text-color);
	border-radius: 2px;
	color: var(--primary-bg-color);
	font-weight: bold;
}
#info > button,
details {
	border: solid 2.7px var(--primary-bg-color);
}

.buchstaben-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* gap: 1.5vw; */
	& > button {
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* old Edge/IE */
		user-select: none; /* modern browsers */
		width: calc(84dvw / 11);
		height: 7dvh;
		font-size: min(1.6rem, calc(94dvw / 16));
	}
	& > button.backspace-button {
		webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* old Edge/IE */
		user-select: none; /* modern browsers */
		width: calc((84dvw / 11) * 2 + 2dvw);
	}
}

#Switch,
#Backspace,
#cmd {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

.keyboard-wrapper {
	margin-bottom: 1dvh;
	width: 95dvw;
	/* margin: 0 5dvw 0 5dvw; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2dvw;
}

.question-number {
	position: absolute;
	top: 0.04rem;
	left: 0.1rem;
	font-size: min(1rem, calc(96vw / 37));
	font-weight: 900;
	pointer-events: none;
	webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* old Edge/IE */
	user-select: none; /* modern browsers */
}

#hinweis-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 2vw;
	margin-top: 2vw;
	padding: 1vw;

	min-height: calc(3.7dvh * 4);
	height: 100%;
	max-height: calc(3.7dvh * 6);
	width: 95vw;
	border: 3px solid var(--primary-text-color);
	background: var(--primary-bg-color);
	border-radius: 2px;
}

#hinweis {
	font-family: "JetBrainsMono";
	font-weight: 700;
	width: min(calc(40px * 11), 94vw);
	line-height: 3.5dvh;
	text-align: center;
	width: 97%;
	vertical-align: baseline;
	font-size: 2.4dvh;
	color: var(--between-dark-light);

	white-space: pre-line;
}
.hinweis-arrow {
	color: var(--between-dark-light);
	width: fit-content;
	height: fit-content;
	font-size: 1.4dvh;
	position: absolute;

	font-weight: 900;
	bottom: 0.9dvh;
	&.left {
		transform: translateX(-200%);
	}
	&.right {
		transform: translateX(200%);
	}
}

#info {
	flex-direction: column;

	gap: 0.5rem;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.9);
	color: var(--primary-text-color);
	font-size: 1rem;
	padding: 1.5rem;
	width: 100vw;
	height: 100dvh;
	position: absolute;
	z-index: 100;
	hyphens: auto;

	& > .close-button,
	details {
		font-size: 1rem;

		width: 86vw;
		padding: 3vw 3vw;
		& > p {
			margin: 2vw 0;
		}
	}
}

summary {
	margin-right: auto;
	margin-left: auto;
	list-style-position: outside;
	width: fit-content;
}
details > p {
	font-weight: 400;
}

#btn_reqPermission {
	margin-top: 2vw;
	font-size: 1rem;
	text-decoration: underline dotted;
	z-index: 200;
}

.hidden {
	display: none;
}
.flex {
	display: flex;
}

#ip {
	height: fit-content;
	width: fit-content;
	position: absolute;
	left: 10;
	top: 10;
}

@keyframes cellBlink {
	0% {
		background-color: var(--primary-bg-color);
		transform: scale(1);
	}

	50% {
		background-color: var(--win-color, gold);
		transform: scale(1);
	}

	100% {
		background-color: var(--primary-bg-color);
		transform: scale(1);
	}
}

.box.win-blink {
	animation: cellBlink 0.4s ease-in-out 5;
}

.cheated {
	color: blue;
}

.incorrect {
	color: red;
}

.correct {
	color: blue;
}

@media (min-width: 470px) {
	#rätsel-container {
		border: solid var(--primary-text-color) 2px;
		margin-top: 3vw;
	}
	.box {
		border: solid var(--primary-text-color) 2px;
	}
	body {
		justify-content: center;
		/* gap: 5vw; */
	}
	#hinweis-liste {
		display: block;
	}
	.keyboard-wrapper {
		display: none;
	}
	button {
		padding: 3px 7px;
	}
}
